/*
Menu-Lateral

01- quando clicar nos botões: projetos, info-pessoal, contato,
        Mudar a interface do site com novo conteúdo relacionado,
        - como se estivesse girando um cubo na horizontal,
        serão 3 lados de um cubos com conteudos diferentes.
02- fazer uma animação de um universso girando devagar em baixo
        do meu perfil.
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

:root {
    --font-cor-black: black;
    --font-cor-white: white;
    --font-padrao: "Roboto", sans-serif;
    --font-especial: "Jersey 10", sans-serif;
    --fundo-cor-claro01: #52499b;
    --fundo-cor-claro02: #3e3b8a;
    --fundo-cor-claro03: #292c79;
    --fundo-cor-escuro02: #151e67;
    --fundo-cor-escuro01: #000f56;
}

* {
    color: var(--font-cor-black);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}

body {
    overflow: hidden;
}

/*-----------Header----------*/

.style-cabecalho {
    position: fixed;
    top: 2px;
    left: 5px;
    right: 5px;
    padding: 0 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    border: 2px solid var(--fundo-cor-escuro01);
    background: linear-gradient(to bottom, var(--fundo-cor-escuro02), var(--fundo-cor-claro01));
    z-index: 30;
}

/*-------Botão Menu Lateral------*/

.style-btn-lateral {
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
}

.style-btn-lateral:hover {
    background-color: var(--fundo-cor-claro02);
}

.style-btn-lateral:active {
    transform: scale(0.95);
}

.style-btn-lateral i {
    /* color: var(--font-cor-white); */
    font-size: 1.2rem;
    font-weight: 600;
}

/*------Titulo variavel------*/

.style-titulo-variavel {
    font-weight: 500;
    /* color: var(--font-cor-white); */
    font-family: var(--font-especial);
}

/*------botão rede social------*/

.style-btn-social {
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: transparent;
}

.style-btn-social:hover {
    background-color: var(--fundo-cor-claro02);
}

.style-btn-social:active {
    transform: scale(0.95);
}

.style-btn-social p {
    font-size: 0.9rem;
    font-weight: 600;
    /* color: var(--font-cor-white); */

}

main {
    height: 100vh;
    width: 100vw;
}

/*------Menu Lateral------*/

.style-menu-lateral {
    position: fixed;
    top: 50px;
    left: -200px;
    height: 90vh;
    width: 200px;
    padding: 10px 10px;
    border-radius: 30px;
    border: 2px solid black;
    background-color: var(--fundo-cor-claro02);
    /* animation: deslizar 0.2s ease forwards; */
    transition: all 0.3s;
}

/* @keyframes deslizar {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
} */

.menu-lateral-ativo {
    left: 5px;
}

#box-secoes {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.secoes-items {
    padding: 10px;
}
.secoes-items a {
    color: var(--font-cor-black);
    text-decoration: none;
}

/*------Menu Redes Sociais------*/

.style-menu-sociais {
    width: 170px;
    position: absolute;
    top: 50px;
    right: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 30px;
    background-color: var(--fundo-cor-claro02);
    transition: all 0.2s;
    opacity: 0;
}

.menu-social-ativo {
    opacity: 1;
}

.box-titulo-sociais {
    padding: 0.5rem;
    text-align: center;
    border-bottom: 2px solid black;
}

.box-titulo-sociais h2 {
    font-weight: 700;
    font-size: 1.3rem;
    font-family: var(--font-padrao);
}

.style-icons-sociais {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.style-icons-sociais a {
    text-decoration: none;
    /* background-color: black; */
}

.style-icons-sociais a i {
    font-size: 2rem;
    /* color: white; */
}

/*------Main------*/

main {
    position: fixed;
    top: 25px;
    height: 100vh;
    width: 100vw;
    background: url(./img/andromeda_movimento_01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*------wallpaper------*/



/*------conteudo variavel------*/

.section01 {
    height: 90vh;
    width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 250px auto auto;
    border-radius: 20px;
    border: 2px solid black;
    background: linear-gradient(to bottom, var(--fundo-cor-claro01), var(--fundo-cor-escuro01));
    transform: translate(-50%, -50%);
}

.style-perfil {
    position: absolute;
    top: 50%;
    left: 50%;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding: 5px 5px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.style-perfil img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.style-skills {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

/*------Scroll Bar------*/

.style-scroll-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 10px;
    overflow-x: scroll;
}

.style-skill-card {
    padding: 5px 5px;
    width: 200px;
    height: 200px;
    background-color: black;
}

.style-image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
 